<launch>
  <arg name="manager" 		default="manager" />
  <arg name="camera"   		default="camera" />
  <arg name="machine"   	default="localhost" />
  <arg name="user"   	default="" />
 
  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)"/>

  <include file="$(find openni_wrapper)/launch/device.launch">
    <arg name="camera"  value="$(arg camera)"/>
    <arg name="machine"  value="$(arg machine)"/>
    <arg name="manager" value="$(arg manager)_$(arg camera)" /> 
  </include>


  <include file="$(find openni_wrapper)/launch/processing.launch">
    <arg name="camera" value="$(arg camera)" /> 
    <arg name="manager" value="$(arg manager)_$(arg camera)" /> 
    <arg name="rgb" value="$(arg camera)/rgb/image_raw" /> 
    <arg name="depth" value="$(arg camera)/depth/image_raw" />
    <arg name="rgb_camera_info" value="$(arg camera)/rgb/camera_info" /> 
    <arg name="depth_camera_info" value="$(arg camera)/depth/camera_info" />  
    <arg name="machine"  value="$(arg machine)"/>
  </include>

</launch>
